/*----------------------------------------------------------------------------- 
=MAIN STYLES  
-----------------------------------------------------------------------------*/
.navbar-inverse {
	background: #D1D1D1;
	color:white;
	padding:10px;
}


/* wedding content  */

.carousel-control {
  width: 25%;
  font-size: 25px;
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  opacity: .95;
}

  .carousel-control.left {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .7) 0%), color-stop(rgba(0, 0, 0, .0001) 100%));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, .0001) 100%);
 
}
.carousel-control.right {
 
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .0001) 0%), color-stop(rgba(0, 0, 0, .7) 100%));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .7) 100%);
 
}

.carousel-caption {
	right:20%;
	left:20%;
}

 .headline {
 	margin:0;
 	padding:0;
 	top:28px;
 	font-size:5vw;
	font-family: "Pacifico", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 2px 2px 7px rgba(0,0,0,.75);
}
 

/*end wedding contetn*/



.white-box-container {
	margin: 5px 50px 5px 50px;
	/*background-color: red;*/
}

.row {
	vertical-align: middle;
}

.white-box {
	/*background-color: blue;*/
	text-align:center;
	vertical-align: middle;
	padding-top:20px;
	padding-bottom:20px;


}


h2 {
	font-size:2em;
}

h3 {
	font-size:1.6em;
	margin-top:0;
}